<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-stuff"/>

    <style>
        .icon_style{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: white;
            cursor:pointer;
        }
    </style>
</head>
<body bgcolor="#E6E6FA">
<div th:replace="fragments/header :: header"/>


<!--/*@thymesVar id="msg" type="java.lang.String"*/-->
<div th:if="${msg}">
    <div class="row" id="alert_box">
        <div class="col s12 m12">
            <div class="card green darken-1">
                <div class="row">
                    <div class="col s12 m10">
                        <div class="card-content white-text">

                            <h6 th:text="${msg}"></h6>
                        </div>
                    </div>
                    <div class="col s12 m2">
                        <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <br/>
    <div class="row">
        <h5 th:text="${'Policy - '+ policy.policyNumber + ' '+' Payments'}" style="color:indigo">Polices</h5>
    </div>



    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating blue" th:href="@{/payments/makepayment/{id}(id=${policy.id})}"><i class="material-icons">person_add</i></a></li>

        </ul>
    </div>

    <div class="row">
        <div class="card-panel z-depth-2 white">





            <table class="responsive-table bordered highlight" th:if="${paymentDetailsList.totalPages >=1}">
        <thead>
        <tr>
            <th>Policy Number</th>
           <th>Transaction Date</th>
            <th>Entry Date</th>
            <th>Amount Paid</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="pd :${paymentDetailsList}">
            <td th:text="${{pd.policy.policyNumber}}">John</td>
            <td th:text="${{pd.transactionDate}}">John</td>
            <td th:text="${{pd.entryDate}}">John</td>

            <td th:text="${{pd.amtPaid}}">John</td>


            <td>
                <div class="actions">

                    <a th:href="@{/policies/{itemId}/update(itemId=${pd.id})}" > <i class="fa fa-edit fa-2x"></i></a>


                    <a href="#"><i class="fa fa-remove fa-2x" style="color:red"></i></a>

                </div></td>

        </tr>
        </tbody>
    </table>
    <!-- we will have paginator here -->
    <div class="row" th:if="${paymentDetailsList.totalPages>=1}">

        <div class="input-field col m1 hide-on-small-only">
            <select id="pageSizeSelect">>
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                        th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>

        </div>
        <br/>
        <div class="col offset-m3 offset-s2" th:if="${paymentDetailsList.totalPages>=1}">
            <ul class="pagination">

                <li th:class="${paymentDetailsList.number == 0} ? disabled"><a
                        class="waves-effect"
                        th:href="@{/policies/{id}/payments(id=${policy.id},pageSize=${selectedPageSize}, page=${paymentDetailsList.number})}">&larr;</a>
                </li>
                <li
                        th:class="${paymentDetailsList.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="waves-effect"
                       th:href="@{/policies/{id}/payments(id=${policy.id},pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li
                        th:class="${paymentDetailsList.number + 1 == paymentDetailsList.totalPages} ? disabled">
                    <div th:if="${paymentDetailsList.number+1 !=paymentDetailsList.totalPages}">
                        <a class="waves-effect" th:disabled="${paymentDetailsList.number + 1 == paymentDetailsList.totalPages}"
                           th:href="@{/policies/{id}/payments(id=${policy.id},pageSize=${selectedPageSize}, page=${paymentDetailsList.number + 2})}">&rarr;</a>
                    </div>
                </li>


            </ul>

        </div>

    </div>

    <br/>
    <br/>
    <div class="row">
        <div class="col m2 s2 ">

            <a class="btn waves-effect waves-light red" th:href="@{/policies/}" >BACK</a>
        </div>

    </div>
        </div></div>



</div>

<script th:inline="javascript">
    $(document).ready(function(){

        /*<![CDATA[*/
        //  $('.fixed-action-btn').floatingActionButton();

        $('select').material_select();

        changePageAndSize();

        $('#alert_close').click(function(){
            $( "#alert_box" ).fadeOut( "slow", function() {
            });
        });
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/myapp/policies/{policy.id}?pageSize=" + this.value + "&page=1");

        });
    }
    /*]]>*/

</script>

</body>
</html>